---
interface Props {
  title: string;
}

import { base } from '../content';
const { title } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="DAO for communities" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg" href={(base ?? '') + "/favicon.svg"} />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="title" content="DAOs for communities" />
  <meta name="description" content="thoughts on designing DAOs for empowering communities." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://tokenology-mu.vercel.app/" />
  <meta property="og:title" content="Tokenology: DAOs for communities" />
  <meta property="og:description" content="thoughts on designing DAOs for empowering communities." />
  <meta property="og:image" content="https://bethropolis.github.io/gena/cover.svg" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://tokenology-mu.vercel.app/" />
  <meta property="twitter:title" content="Tokenonlogy - thoughts on designing DAOs for empowering communities." />
  <meta property="twitter:description" content="thoughts on designing DAOs for empowering communities." />
  <meta property="twitter:image" content="https://bethropolis.github.io/gena/cover.svg" />
</head>
